@use "@/styles/variables" as *;

/* Стили для хедера */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: $white-color;
  transition: transform 0.3s ease-in-out;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $grey-color;

  &.hidden {
    transform: translateY(-100%);
  }
}

/* Стили для контейнера внутри хедера */
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

/* Стили для лого */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Стили для активных кнопок */
.active_btns {
  display: flex;
  color: $white-color;
  transition: all 0.3s ease;
  align-items: center;
  gap: 1rem;
}

/* Стили для кнопки вызова */
.call_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Стили для кнопки корзины */
.cart_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black-color;
}

/* Адаптивные стили для планшетов */
@media (max-width: $breakpoint-tablet) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .navBar,
  .navBarBtns {
    display: none !important;
  }
  .content {
    justify-content: start;
  }
  .call_btn {
    display: none;
  }
  .active_btns {
    margin-left: auto;
  }
}
.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ff0000; 
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  line-height: 16px;
  min-width: 14px;
  height: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0 4px;
}
