@use "@/styles/variables" as *;
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: $footer-gradient, $white-color;
  flex-direction: column;
  gap: 40px;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  padding: 28px;
  margin: 0;
  max-width: 1360px;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;

  @media (max-width: $breakpoint-mobile) {
    padding: 20px 0;
  }
}


.footer_upper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}



.textContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

.logo {
  order: 1;
}

.addressForm {
  order: 3;
  width: 382px;
}

.footerLinks {
  order: 2;

  @media (max-width: $breakpoint-mobile) {
    order: 3;
  }
}

.socialHub {
  order: 4;
}

.payment_icon_container {
  order: 5;
}

.authorRights {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
  color: $black-color;
  font-size: 12px;
  text-align: center;
  gap: 4px;

  @media (max-width: $breakpoint-mobile) {
    width: 90%;
    font-size: 10px;
  }
}

.policyLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  text-align: center;

  a {
    color: $black-color;
    text-decoration: none;
  }
}

.linkLogo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
